/*  MICROTHEMER STYLES  */


/*= General =================== */

/** General >> mensagem-home **/
#post-33 .has-very-dark-gray-background-color {
	width: 580px !important;
}

/** General >> div-paragrafo-home **/
#post-33 .has-very-dark-gray-background-color {
	height: 100px !important;
	top: 500px !important;
	left: 100px !important;
}

/** General >> div-title-main **/
#post-33 .has-very-dark-gray-background-color {
	height: 80px !important;
}

/** General >> image-main **/
#post-33 .uagb-section__overlay {
	
}

/** General >> Menu item 127 link **/
#menu-item:hover {
	color: #FB3640 !important;
}

/** General >> logo-image **/
.uagb-block-550ceb80-d182-4a3b-9f03-d228eb8e26eb > .uagb-column__inner-wrap {
	display: -webkit-box !important;
	display: -moz-box !important;
	display: -ms-flexbox !important;
	display: -webkit-flex !important;
	display: flex !important;
	-webkit-justify-content: center !important;
	justify-content: center !important;
	-webkit-align-items: center !important;
	align-items: center !important;
}

/** General >> box-logo-image **/
.uagb-block-d644c0d2-7d93-4cca-a563-2f6d3d51d462 > .uagb-column__inner-wrap {
	display: -webkit-box !important;
	display: -moz-box !important;
	display: -ms-flexbox !important;
	display: -webkit-flex !important;
	display: flex !important;
	-webkit-justify-content: center !important;
	justify-content: center !important;
	-webkit-align-items: center !important;
	align-items: center !important;
}

/** General >> meus-softwares-box-logo-image **/
.uagb-block-79a4401f-f705-4eab-a5fc-9f53991503f7 > .uagb-column__inner-wrap {
	display: -webkit-box !important;
	display: -moz-box !important;
	display: -ms-flexbox !important;
	display: -webkit-flex !important;
	display: flex !important;
	-webkit-justify-content: center !important;
	justify-content: center !important;
	-webkit-align-items: center !important;
	align-items: center !important;
}

/** General >> meus-softwares-body **/
#post-53 .uagb-section__overlay {
	
}

/** General >> description-the-future **/
@media (max-width: 600px) {
	
}


/*= Main Menu ================= */

/** Main Menu >> Menu item 127 link _2 **/
#menu-item-127 > a:hover:hover {
	color: #FB3640 !important;
}

/** Main Menu >> Menu item 125 link **/
#menu-item-125 > a:hover {
	color: #FB3640 !important;
}


/*( Phone )*/
@media (max-width: 480px) {

	/*= Main Menu ================= */

	/** Main Menu >> arrow-left-caroussel **/
	#post-33 .slick-prev {
	margin-left: -50px !important;
}

	/** Main Menu >> arrow-right-caroussel **/
	#post-33 .slick-next {
	margin-right: -50px !important;
}


}

